.non-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 1180px;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Big-Space-Haha {
  width: 100%;
  height: 56px;
}

.Banner-Container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0.8rem;
  width: 100%;
}

.Banner-Container-Main {
  padding: 1.8rem 0;
  color: #ffffff;
  background-color: #000000;
  margin: 0 0.15rem;
  flex-grow: 1;
}

.Banner-Contact-Container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.Banner-Container-Edge-L {
  border: solid #000000;
  border-width: 0 0.6rem 0 0.2rem;
  width: 0.3rem;
}

.Banner-Container-Edge-R {
  border: solid #000000;
  border-width: 0 0.2rem 0 0.6rem;
  width: 0.3rem;
}

.Contact-Button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 0.6rem;
}

.Separator-Vertical {
  background-color: #ffffff;
  width: 0.1rem;
}

.projects {
  display: flex;
  flex-flow: column nowrap;
}

.project-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  max-width: 100%;
}

.project-img {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  align-items: flex-start;
  width: 48%;
  background-color: rgba(127.5, 127.5, 127.5, 0.125);
}

.project-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  flex-grow: 1;
  width: 48%;
}
